.smalltext{
  font-size: 15px
}
.bigtext{
  font-size: 32px
}

.blue {
stroke-dasharray: 490;
stroke-dashoffset: 490;
animation: draw 2s linear forwards;
}
  
@keyframes draw {
to {
  stroke-dashoffset: 450;
}
}